.cartPage {
  border-top: 2px solid var(--color-primary);
}
.cartBox {
  width: 90%;
  margin: 0 auto;
  background-color: var(--color-grey);
  border-radius: var(--border-radius-medium);
  padding: 24px;
  margin-top: 48px;
}

.emptyCart {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 36px;
  height: 50vh;
}
.cartHeader {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-style: italic;

  text-align: center;
}
.cartSubheader {
  font-size: var(--h3-font-size);
  text-align: center;
  color: var(--color-primary);
  padding: 12px 0;
}

.cartContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 24px auto;
  gap: 24px;
}

.cartList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.cartInfo {
  background-color: var(--color-white);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 24px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-size: var(--body-font-size);
}

.totalInfo {
  color: var(--color-primary);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.selectedCard {
  padding: 12px;
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--border-radius-small);
}
span {
  font-weight: var(--font-weight-medium);
}
.cardTitle {
  font-size: var(--h3-font-size);
  color: var(--color-primary);
}
.cardText {
  display: flex;
  justify-content: space-between;
}
.cartCancelButton {
  background-color: var(--color-red);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin: 0 auto;
  padding: 12px;
  width: 100%;

  font-size: var(--h4-font-size);
  color: var(--color-white);
}
.cartCancelButton:hover {
  filter: brightness(0.8);
}

@media (max-width: 1024px) {
  .cartList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cartSubheader {
    font-size: var(--h4-font-size);
  }
  .cartHeader {
    font-size: var(--h3-font-size);
  }
  .cartList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 540px) {
  .cartBox {
    width: 100%;
    border-radius: 0;
  }
  .cartInfo,
  .paymentInfo,
  .totalInfo {
    font-size: var(--body-small-size);
  }
  .cartList {
    grid-template-columns: 1fr;
  }
}
