.nav {
  width: 100%;
}
.navList {
  display: flex;
  gap: 20px;
}
.navLink {
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

li:last-child .navLink {
  color: var(--color-red);
}
